.send-box {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 8px 16px;
  background: #333;
}

.users {
  position: fixed;
  right: 0;
  top: 0;
  bottom: 0;
  width: 256px;

  background: #666;
  height: 100%;
  color: white;
}
